<div class="container">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                RECUPERA TU CONTRASEÑA
            </ion-title>
        </ion-toolbar>
        <img src="assets/portadaformu.jpg" class="img-responsive" alt=".">
    </ion-header>
</div>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-label stacked>Ingrese usuario</ion-label>
            <ion-item>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button (click)="modclave()" expand="full" color="warning" [routerLink]="['/home/']">Recuperar</ion-button>
    </ion-card>


</ion-content>

<ion-footer>
    <ion-button expand="full" color="warning" [routerLink]="['/home/']">Volver</ion-button>
</ion-footer>