#container {
    text-align: center;
    position: absolute;
    left: 20;
    right: 3;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-title {
    color: yellow;
    font-size: 25px;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

#ion-checkbox {
    right: 20px;
}

.bajada {
    padding-left: 0;
    top: 50%;
    font-size: 10%;
}