.home{
    text-align: center;
}
ion-content{
    background-color: rgb(180, 219, 255);
}
ion-header{
background-color:#307fe2;
}
ion-title{
    font-size: 30px;
    font-weight: bold;
}
ion-label,ion-card-title,ion-button{
    font-weight: bold;
}
