* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: arial;
}

.container {
    background: #fff;
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
}

.menu ul {
    list-style: none;
    width: 100%;
    background: #000;
    display: table;
}

.menu ul li {
    display: table-cell;
    width: calc(30px * 4)
}

.menu ul li:hover {
    background: rgba(0, 0, 0, 9);
}

.menu ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.menu ul .todos {
    background: #3691be;
}

.menu ul .fine {
    background: #106288;
}

.menu ul .unicas {
    background: #0b4661;
}

.menu ul .seriadas {
    background: #093144;
}

.galeria {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.galeria .title-img {
    width: 100%;
    border-top: 4px solid #46ABDF;
}

.galeria .title-img h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    color: #636363;
    font-weight: 100;
}

.galeria .box-img {
    width: calc(100px * 3);
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);
    overflow: hidden;
}

.galeria .box-img img {
    width: 350px;
    height: 250px;
    vertical-align: top;
    cursor: pointer;
    transition: all .5s ease
}

.galeria .box-img img:hover {
    transform: scale(1.2);
}

.main {
    background: #f2f2f2;
}

.NombrePage {
    float: right;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 100px;
}

.imgtienda {
    padding-top: 100px;
    padding-left: 400px;
}

table {
    background-color: #B2F4E8;
}

.obraunica1 {
    color: black;
    padding-left: 200px;
    padding-top: 10px;
    padding: 10px;
}

.obraunica2 {
    padding-top: 20px;
    padding-left: 50px;
}

.tiendamenu {
    float: right;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-top: 10px;
}

.margenindexrevelante {
    color: black;
    padding-top: 5px;
    text-align: center;
    padding: 30px;
}

.active {
    border-bottom: 4px;
}