<div class="container">
    <ion-header>
        <ion-toolbar>
            <div class="bajada">
                <ion-title>
                    <ion-label>FORMULARIO</ion-label>
                </ion-title>
            </div>
        </ion-toolbar>
        <img src="assets/878282.jpg" alt=".">
    </ion-header>
</div>

<ion-content>
    <ion-card>
        <ion-list>

            <ion-item>
                <ion-label stacked>Usuario</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Telefono</ion-label>
                <ion-input type="numeric"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>email</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Contraseña</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

        </ion-list>


        <ion-button (click)="registro()" expand="full" color="warning" [routerLink]="['/home/']">Registrarse</ion-button>

    </ion-card>


</ion-content>