<div class="container">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                RENUEVA TU CONTRASEÑA
            </ion-title>
        </ion-toolbar>
        <img src="assets/portadaformu.jpg" class="img-responsive" alt=".">
    </ion-header>
</div>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-label stacked>Ingrese Contraseña Actual</ion-label>
            <ion-item>
                <ion-input type="password"></ion-input>
            </ion-item>
        </ion-list>

    </ion-card>

    <ion-card>
        <ion-list>
            <ion-label stacked>Nueva Contraseña</ion-label>
            <ion-item>
                <ion-input type="password"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-button (click)="modclave()" expand="full" color="warning" [routerLink]="['/login/']">Modificar</ion-button>

</ion-content>