<!DOCTYPE html>
<html lang="en">

<head class="header">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar Sesion</title>
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Updock&display=swap');
  </style>

</head>

<body style="background-color: rgb(206, 206, 206)">
  <nav>
    <div class="header-inner">
      <div class="container-fluid px-lg-5">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUGQ0Nsje29ctjhGi1pLHs_1AfO-RefQcGtA&usqp=CAU"
                class="img-fluid" style="width: 50px; margin: 3px 0px 0px 0px;">
            </a><a class="navbar-brand" href="{% url 'index' %}">
              <h3 class="menubartitle">SushiDelicious</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin: 3px 0px 0px 0px;"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../indexlog/{{user}}">
                    <h5 class="menubar">Menu</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href=../{{user}}/quieneslog/>
                    <h5 class="menubar">Quienes Somos</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../indexlog/{{user}}">
                    <h5 class="menubar">Clientes</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href=../{{user}}/eventolog/>
                    <h5 class="menubar">Eventos</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href=../{{user}}/ubicacionlog/>
                    <h5 class="menubar">Ubicacion</h5>
                  </a>
                </li>
  
              </ul>
  
              <div class="navfunction">
                <ul class="navbar-nav m-auto">
  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                      <h5 class="menubarf">Cerrar Sesion</h5>
                    </a>
                  </li>
                  <li class="nav-item">
                    
                    <a class="nav-link active" aria-current="page" href="/perfil/{{user}}">
                    
                      <h5 class="menubar">Perfil</h5>
                    </a>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </nav>

  <header>

    <!-- <form class="formulario" id="formulario" method="POST"> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>





    <!-- </form> -->



    <!-- <script src="{% static 'core/js/form.js' %}"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </header>


  <div class="card-group">
    <div>
     
      <ion-icon class="fotoouser" name="person-circle-outline"></ion-icon>
     
    </div>


    <div style="margin-top: 180px !important;" class="card">
    
      <div class="card-header"style="background-color: black;color:white;">
        <!-- {% csrf_token %} --> 
        <h3 style="margin-left: 40px;">Gestion del Perfil</h3>
      </div>
     
      <form action="" method="POST">
        {% csrf_token %}
        {% for x in usuario %}
        <div class="card-footer text-muted"style="background-color: black;color:white;">
          <select style="margin-left: 150px;visibility:hidden" name="tipo" id="tipo">
            <option value="Cliente">Cliente</option>
          </select>
        </div>
        <div class="card-header"style="background-color: black;color:white;">
          <label for="exampleInputEmail1" class="form-label">Nombre Usuario</label>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="text" id="nombre" name="nombre" placeholder="Nueva nombre" value="{{x.0}}" readonly>

          </div>
          <label for="exampleInputEmail1" class="form-label">Contraseña</label>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" id="pass" name="contraseña" placeholder="contraseña" value="{{x.1}}">

          </div>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="text" id="pass" name="correo" placeholder="Email" value="{{x.2}}">

          </div>
          <label for="exampleInputEmail1" class="form-label">Telefono Contacto</label>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="text" id="pass" name="telefono" placeholder="Telefono" value="{{x.3}}">

          </div>
          <label for="exampleInputEmail1" class="form-label">Direccion</label>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="text" id="pass" name="direccion" placeholder="Telefono" value="{{x.4}}">

          </div>
          {% endfor %}

        </div>
        <div class="card-footer text-muted" style="background-color: black;color:white;">
          <button style="margin-left: 110px;" class="btn btn-primary" name="boton" type="submit" value="Modificar">Modificar</button>
        </div>
      </form>

    </div>
    <input value="Copyright by Iwasoski" type="hidden">
    <footer style="margin-top: 100px;">
      <div class="footer-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h5 class="menubar">Servicios</h5>
              <ul class="" fortext>
                <li><a style="color:#fff;" href="#">Iniciar Sesion</a></li>
                <li><a style="color:#fff;" href="#">Registrarse</a></li>
                <li><a style="color:#fff;" href="#">Menu</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h5 class="menubar">Acerca de</h5>
              <ul>
                <li><a style="color:#fff;" href="#">Ubicacion</a></li>
                <li><a style="color:#fff;" href="#">Quienes Somos</a></li>

              </ul>
            </div>
            <div class="col-md-6 item text">
              <h5 class="menubar">SushiDelicious</h5>
              <p>En SushiDelicious tenemos el sushi más pedido en Chile. Despacho a domicilio, consumo en local y retiro
                de
                lunes a sábado de 12:00 a 17:00 y de 18:00 a 23:30 hrs.
              </p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                  class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a>
            </div>
          </div>
          <p class="copyright">SushiDelicious © 2022</p>
        </div>


    </footer>


</body>
<script>
  function modifico(respuesta, usuario) {
    if (respuesta == 1) {

      swal("El usuario ha sido modificado con exito", "", "success", {
        button: "Listo",
      }).then(function () {
        window.location = "../../../indexlog/" + usuario;
      });
    } else if (respuesta == 2) {
      swal("El usuario no ha sido modificado", "Porfavor verifica los Datos", "error", {
        button: "Listo",
      }).then(function () {

      });

    }
  }
  window.addEventListener('load', event => {
    modifico('{{validador}}', '{{user}}');
  });

</script>

</html>