<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro Usuario</title>
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Updock&display=swap');
  </style>

</head>

<body style="background-color: rgb(206, 206, 206)">

  <nav class="header">
    <div class="header-inner">
      <div class="container-fluid px-lg-5">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUGQ0Nsje29ctjhGi1pLHs_1AfO-RefQcGtA&usqp=CAU"
                class="img-fluid" style="width: 50px; margin: 3px 0px 0px 0px;">
            </a><a class="navbar-brand" href="{% url 'index' %}">
              <h3 class="menubartitle">SushiDelicious</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin: 3px 0px 0px 0px;"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <h5 class="menubar">Menu</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <h5 class="menubar">Quienes Somos</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <h5 class="menubar">Clientes</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <h5 class="menubar">Eventos</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <h5 class="menubar">Ubicacion</h5>
                  </a>
                </li>

              </ul>
              <div class="navfunction">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                      <h5 class="menubar">Iniciar Sesion</h5>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">
                      <h5 class="menubar">Registro</h5>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </nav>

  <input value="Copyright by Iwasoski" type="hidden">
  <section style="margin-top: 50px;">

    <form class="formulario" id="formulario" method="POST">

      <div class="card text-center">
        <div class="card-header">
          <h3>Formulario de Registro</h3>
          <select name="tipo" id="usuarios" style="visibility:hidden">
            <option value="Cliente">Cliente</option>
          </select>
          {% csrf_token %}
        </div>
        <div class="card-body">
          <label for="exampleInputEmail1" class="form-label">Usuario</label>
          <div class="input-contenedor">
            <!--- USER -->
            <i class="fas fa-user icon"></i>
            <input type="text" id="user" name="nombre" placeholder="Ingrese usuario" required>
          </div>

          <label for="exampleInputEmail1" class="form-label">Email</label>
          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <!--- EMAIL -->
            <input type="email" id="email" name="correo" placeholder="Ingrese Email" required>
          </div>
          <label for="exampleInputEmail1" class="form-label">Direccion</label>
          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <!--- Direccion -->
            <input type="text" id="direccion" name="direccion" placeholder="Ingrese Direccion" required>
          </div>

          <label for="exampleInputEmail1" class="form-label">Telefono</label>
          <div class="input-contenedor">
            <!--- TELEFONO -->
            <i class="fas fa-user icon"></i>
            <input type="number" id="telefono" name="telefono" placeholder="Ingrese Telefono [ejm '934782518']"
              required>
          </div>

          <label for="exampleInputEmail1" class="form-label">Contraseña</label>
          <div class="input-contenedor">
            <!--- CONTRASEÑA -->
            <i class="fas fa-key icon"></i>
            <input type="password" id="pass" name="pass1" placeholder="Ingrese nueva contraseña" required>

          </div>

          <label for="exampleInputEmail1" class="form-label">Confirmar Contraseña</label>
          <div class="input-contenedor">
            <!--- C.CONTRASEÑA -->
            <i class="fas fa-key icon"></i>
            <input type="password" id="confirmcontr" name="pass2" placeholder="Confirme su contraseña">

          </div>
          <p></p>
          <p>Al registrarse, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
          <a href="https://www.sushipizzadelivery.com/terminos">
            <p>Terminos y Condiciones</p>
          </a>

        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary" id="button" value="Registrar">Registrar</button>

        </div>
      </div>



    </form>


  </section>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function Agregar(respuesta) {

      if (respuesta == 1) {
        swal("Usuario ha sido registrado", "", "success", {
          button: "Listo",
        }).then(function () {
          window.location = "../index";
        });
      } else if (respuesta == 2) {
        swal("Usuario no ha sido registrado", "Porfavor verifica los Datos", "error", {
          button: "Listo",
        }).then(function () {
          window.location = "../registro";
        });
      } else if (respuesta == 3) {
        swal("Las Contraseñas no coinciden", "Porfavor verifica los Datos", "error", {
          button: "Listo",
        }).then(function () {
          window.location = "../registro";
        });

      }
    }

    window.addEventListener('load', event => {
      Agregar('{{validador}}');
    });

  </script>
  <!-- <script src="{% static 'core/js/formregistro.js' %}"></script>
     -->
     <script type="text/javascript"
     src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
   
   <script type="text/javascript">
     emailjs.init('MgUETGVfgRQmPSa_t')
   </script>

<script>
const btn = document.getElementById('button');

document.getElementById('formulario')
 .addEventListener('submit', function(event) {


   const serviceID = 'default_service';
   const templateID = 'template_5mff285';
   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.innerHTML = 'Registrar';
      
    }, (err) => {
      btn.innerHTML = 'Registrar';
      alert(JSON.stringify(err));
    });
});
</script>

  <footer style="margin-top: 10px;">
    <div class="footer-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h5 class="menubar">Servicios</h5>
            <ul class="" fortext>
              <li><a style="color:#fff;" href="#">Iniciar Sesion</a></li>
              <li><a style="color:#fff;" href="#">Registrarse</a></li>
              <li><a style="color:#fff;" href="#">Menu</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h5 class="menubar">Acerca de</h5>
            <ul>
              <li><a style="color:#fff;" href="#">Ubicacion</a></li>
              <li><a style="color:#fff;" href="#">Quienes Somos</a></li>

            </ul>
          </div>
          <div class="col-md-6 item text">
            <h5 class="menubar">ColaSushi</h5>
            <p>En ColaSushi tenemos el sushi más pedido en Chile. Despacho a domicilio, consumo en local y retiro de
              lunes a sábado de 12:00 a 17:00 y de 18:00 a 23:30 hrs.
            </p>
          </div>
          <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a></div>
        </div>
        <p class="copyright">SushiCola © 2022</p>
      </div>


  </footer>

</body>


</html>