<div class="container">
    <ion-header>
        <ion-toolbar>
            <div class="bajada">
                <ion-title>
                    <ion-label>REGISTRO</ion-label>
                </ion-title>
            </div>
        </ion-toolbar>
        <img src="assets/878282.jpg" alt=".">
    </ion-header>
</div>

<ion-content>
    <ion-card>
        <ion-list>
            <form [formGroup]="form" (ngSubmit)="save($event)">
                <ion-item>
                    <ion-label stacked>Usuario</ion-label>
                    <ion-input type="text" [(ngModel)]="user" formControlName="user"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Telefono</ion-label>
                    <ion-input type="numeric" formControlName="num"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="pass" formControlName="pass"></ion-input>
                </ion-item>
                <ion-button (click)="guardar()" expand="full" color="warning" [routerLink]="['/home/']" type="submit" [disabled]="form.invalid">Registrar</ion-button>
            </form>
        </ion-list>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-button expand="full" color="warning" [routerLink]="['/home/']">Volver</ion-button>
</ion-footer>